<h1>Edit Post</h1>

<form action="<%= post_url(@post) %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="_method" value="patch">
  <label for="title">Title</label>
  <input id="title" name="post[title]" type="text" value="<%= @post.title %>">
  <br>
  <label for="text">Text</label>
  <textarea name="post[text]"><%= @post.text %></textarea>
  <br>
  <input type="submit" value="Update Post">
</form>
