<h2><%= @post.title %></h2>
<p><%= @post.text %></p>
<form action="<%= post_url(@post) %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Post">
</form>
