#page {
  margin-right: 250px;
  font-size: 14px;

  ul {
    margin: 10px;

    li {
      &#post {
        background-color: #F6F6F6;
        border: 1px solid #DADADA;
        margin: 10px auto;
        padding: 5px;
        display: flex;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          &.title {
            font-weight: bold;
          }
        }
        .data {
          font-size: 12px;
        }
        #vote {
          vertical-align: top;
          width: 30px;
          text-align: center;
          padding: 5px;
        }
        #content {
          padding: 5px;
        }
      }
    }
  }
}
