#page {
  margin-right: 250px;
  font-size: 14px;
}

li {
  &#post {
    background-color: #F6F6F6;
    border: 1px solid #DADADA;
    margin: 10px;
    padding: 10px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &.title {
        font-weight: bold;
      }
    }
    .data {
      font-size: 12px;
    }
  }
}
