<div id="header">
  <% if @topics %>
    <ul>
      <li>
        <a href="<%= root_url %>">
          Home
        </a>
      </li>
      <% @topics.each do |topic| %>
        <li>
          <a href="<%= topic_url(topic) %>">
            <%= topic.name %>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @topic %>
    <h1><%= @topic.name %></h1>
  <% else %>
    <h1>rails reddit</h1>
  <% end %>
</div>
